<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.gemoc.gemoc_language_workbench.sequential.xdsml">
    <XDSML_Definition modelLoader_class="org.eclipse.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="org.gemoc.arduino.sequential.XArduino" xdsmlFilePath="platform:/plugin/org.gemoc.arduino.sequential/src/main/java/org/gemoc/arduino/sequential/arduino.dsl">
      <XDSML_Definition_Customization fileExtensions="xsarduino" />
    </XDSML_Definition>
  </extension>
</plugin>
